{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %} 
{{ block.super}}
{% load static %}

{% load crispy_forms_tags %}
{% block styles %}
{% bootstrap_css %}
{% include "navbar.html" %}

<link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet"> 
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <title>Document</title>
</head>
<body >

     <div class="container-fluid" >
      <div class="row">
        
          <div class="col-sm-2" style="background-image: linear-gradient(to bottom,rgb(14, 13, 13),chocolate
          ,white);line-height:45px;height:630px;">
            <a><img src="https://gameo.io/static/images/dashboard/profile.6bcc1092ab3a.png" height="100px"> {{ user.username }} '{{ user.email }}'</a><br>
            
           
            <a  href="{%url 'add-customer'%} ">Add New Customer</a><br>
            
            <a  href="{%url 'view-customer'%}">View Customers</a><br>
            <a  href="{%url 'edit'%}">Edit  Customer</a><br>
            <a  href="{%url 'delete'%}">Delete Customer </a><br>
            <a style="font-size:18px;" href="/logout">Logout</a>
         </div>
      <div class="col-sm-10" >
        <div class="row" style="background-color:#343A40;height:80px;color:white">
          <div class="col-sm-10" >
          <h1> Dashboard</h1>
        </div>
        </div>
        <div class="col-sm-10" ><h2>welcome to the Dashbord</h2></div>
      
          <span ><hr></span>
   
      {% for image in images %}
 
<!-- 
  
      <div class="col-sm-6" width="400px" style="border:1px solid whitesmoke;padding-top:20px;" >
          <div class="wrapper">
              <div class="parent" onclick="">
                  <div class="child bg-one"> -->
          
              <!-- <img src="{{user.profile.profile_picture.url}}" class="img-circle"  width="32" height="32">
              
              <strong style="color: #333333;cursor: pointer">{{user.profile.Name}}</strong>
              <p style="margin-left:520px;margin-top:-50px;font-size:30px;">...</p> -->
         
        <!-- <img src="{{image.image.url}} " id="image" style=" margin-bottom:20px;" class="img-fluid"  alt="Image"> -->
        <!-- alt="{{image.user.user.username}}" width="30" height="30"> -->
      <!-- </div> -->
  
    <!-- <stron><h6 style="color: #333333;cursor: pointer;padding-top:30px">{{image.pname}}</strong></h6>
    <h6 style="margin-left:150px;">{{image.pub_date }}</h6><br></br>
    <h6>
       <img src="{{user.profile.profile_picture.url}}" class="img-circle"  width="32" height="32"> 
      Posted  by  -->
       <!-- <strong style="color: #333333;cursor: pointer">{{user.profile.Name}}</strong></h6> -->
  
<!--     
<p><button class="btn btn-outline-info">VIEW PROJECT</button></a>
</p>
    </div>

    </div>
    </div> -->

 

          
 

{% endfor %}
    </div>
  </div>
    
  </div>
</div>
  






 
<!-- <form action="/create_post/" method="POST" id="post-form">

  {%csrf_token%}

  {% bootstrap_form letterForm layout='inline' %}
  <input type="submit" class="btn btn-success btn-lg" value="Post"> -->
</form>

{% endblock %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 

{% bootstrap_javascript %} 

<!--End of the block content-->
 {{block.super}}
 <script src="static/js/mobicash.js"></script>

  
  
{% endblock %}

</div>
<footer>
  <small>copyright Laetitia |all right reserved| 2020</small>
  </footer> 

</body>
<style>
 
  a{
    color:#cccccc;
    padding-top:30px;
    text-decoration:none;


  }
  a:hover{
    color: ivory;
    text-decoration:none;
  }
  i{
    color:saddlebrown;
  }
  h1{
    font-family: 'Philosopher', sans-serif;
  }
  footer{
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
 
  height:200px;
  text-align:center;
 
  }
  h2{
    text-align: center;
    margin-top: 20px;
    text-transform: capitalize;
  }
  h3{
    font-family: 'Philosopher', sans-serif;
    margin-top: 50px;
    margin-left:300px;

  }
  .btn-dark{
    background-color:chocolate;
  }
</style>


</html>